* {
    box-sizing: border-box;
}

:root {
    --primary-color-1: rgb(195, 65, 65);
    --primary-color-2: rgb(225, 65, 65);
    --primary-color-3: rgb(255, 65, 65);
    --secondary-color: rgb(27, 155, 91);
    --tertiary-color-1: rgb(122, 122, 122);
    --tertiary-color-2: rgb(161, 161, 161);
    --tertiary-color-3: rgb(240, 240, 240);
    --base-text-color-1: rgb(20, 20, 20);
    --base-text-color-2: rgb(253, 253, 253);
    --base-default-color: rgb(253, 253, 253);
    --link-text-color: rgb(0, 0, 238);
}

body {
    background-color: var(--tertiary-color-3);
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;
    color: var(--base-text-color-1);
}

.dark-mode {
    --primary-color-1: rgb(245, 74, 74);
    --primary-color-2: rgb(215, 74, 74);
    --primary-color-3: rgb(185, 74, 74);
    --secondary-color: rgb(27, 155, 91);
    --tertiary-color-1: rgb(240, 240, 240);
    --tertiary-color-2: rgb(158, 158, 158);
    --tertiary-color-3: rgb(39, 39, 39);
    --base-text-color-1: rgb(218, 218, 218);
    --base-text-color-2: rgb(218, 218, 218);
    --base-default-color: rgb(29, 29, 29); 
    --link-text-color: rgb(143, 143, 238);
}

main {
    display: grid;
    grid-template-areas:
    "title title"
    "score score"
    "round round"
    "player computer"
    "taunt taunt"
    "buttons buttons"
    "history history"
    "attribution attribution";
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    text-transform: uppercase;
    width: 100%;
    margin: auto;
}

#display-title {
    grid-area: title;
    text-align: center;
}

#display-title > h1 {
    margin-bottom: 0;
    color: var(--primary-color-2);
    font-size: 2.4rem;
}

#display-title > p {
    margin: 0.625rem 0;
    color: var(--tertiary-color-1);
    font-size: 1.2rem;
}

.score-area {
    grid-area: score;
    display: grid;
    grid-template-columns: 1fr .75fr 1fr;
    gap: 1vw;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.scores > h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--primary-color-2);
}

.scores > p {
    margin: 0.375rem auto 0.1875rem;
    font-size: 1.5rem;
}

.scores > p.label {
    font-size: 1rem;
    color: var(--tertiary-color-2);
}

#round-number {
    grid-area: round;
    text-align: center;
}

#round-number > h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0.625rem 0;
}

#round-number > p {
    font-size: 1.1rem;
    margin: 0.3125rem 0;
    color: var(--tertiary-color-2);
}

#player-choice-display {
    grid-area: player;
}

#computer-choice-display {
    grid-area: computer;
}

.choice-display-box {
    border: 1px solid var(--tertiary-color-2);
    margin: 0 5%;
    padding-bottom: 100%;
    background-color: var(--base-default-color);
}

#player-choice {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
}

#computer-taunt {
    grid-area: taunt;
    align-self: center;
    justify-self: center;
    text-transform: initial;
}

#computer-taunt > p {
    font-size: 1rem;
    font-style: italic;
    margin: 0.375rem 0 0.75rem;
}

.player-buttons {
    height: 2.8125rem;
    width: 6.5rem;
    border: none;
    border-radius: 1.4rem;
    color: var(--base-text-color-2);
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: var(--primary-color-2);
}

.player-buttons:hover {
    background-color: var(--primary-color-1);
}

.player-buttons:active {
    background-color: var(--primary-color-3);
}

#round-history {
    grid-area: history;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round-history > h3 {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 0 0.5rem;
}

.round-history-entry {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

.round-history-entry > p {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
    border-top: 1px solid var(--tertiary-color-2);
    color: var(--tertiary-color-2)
}

#history-top > p {
    border-top: none;
}

.history-img {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 1.5rem;
}

#attribution {
    grid-area: attribution;
    visibility: hidden;
    text-align: center;
    text-transform: initial;
    font-size: 0.5rem;
    margin: 1rem 0 0;
}

#attribution a {
    color: var(--link-text-color);
}

@media only screen and (min-width: 768px) {
    main {
        grid-template-areas:
        "title title title"
        "score score score"
        "round round round"
        "player history computer"
        "buttons history taunt"
        "attribution attribution attribution"; 
        grid-template-columns: 1fr .65fr 1fr;
        max-width: none;
    }

    .score-area {
        grid-template-columns: 1fr .65fr 1fr;
    }

    .player-buttons {
        width: 5.625rem;
    }
    
    .history-img {
        margin: 0 0.8rem;
    }
}

 @media only screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr .75fr 1fr;
        max-width: 992px;
    }
    
    .score-area {
        grid-template-columns: 1fr .75fr 1fr;
    }

    .player-buttons {
        width: 6.5rem;
    }

    .history-img {
        margin: 0 1.5rem;
    }
}